:root {
    --darkgreen-color: #47594E;
    --lightgreen-color: #99A57B;
    --brown-color: #B9A48C;
    --whitecream-color: #F3EBE4;
  }

#calendar-background{
background-color: var(--darkgreen-color);
}

#calendargrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
    padding: 10vw;
    position: relative;
    }

#calendargrid p{
    text-align: center;
    margin-top: 1vw;
    color: var(--whitecream-color);
}

.month {
    border-radius: 3vw;
    height: 30vw
}

#january{
    background-image: URL("./assets/Jan.png");
    background-size: contain;
}