:root {
    --dark-green-color: #47594E;
    --light-green-color: #99A57B;
    --brown-color: #B9A48C;
    --white-cream-color: #F3EBE4;
  }

#calendar-background{
background-color: var(--dark-green-color);
}

#calendargrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
    padding: 10vw;
    position: relative;
    }

#calendargrid p{
    text-align: center;
    margin-top: 1vw;
    font-size: 3vw;
    font-weight:bold;
}

.month {
    border-radius: 3vw;
    height: 30vw
}

.br-wht{
    background-image: URL("./assets/br-month.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--white-cream-color);
}

.wht-br{
    background-image: URL("./assets/Wht-month.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--brown-color);
}