body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #47594e;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #47594e;
}
.logo {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
label {
  margin-top: 1rem;
}

input {
  margin-top: 1rem;
  border-radius: 25px;
  height: 1.5rem;
  background-color: #fcebe4;
  color: #47594e;
}

input::placeholder {
  text-align: center;
  color: #47594e;
}

button {
  margin-top: 1rem;
  width: 4rem;
  height: 2rem;
  border-radius: 25px;
  background-color: #fcebe4;
  color: #47594e;
}

#nav-body{
  background-color: #99A57B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)
}

#nav-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b c";
  width: 90vw;
  padding: 20px 0px;
  margin: auto;
  gap: 7vw;
}

#nav-container div{
  background-color: #F3EBE4;
  text-align: center;
  border-radius: 10px;
  color: #47594E;
}

#nav-container h3{
  margin: 0;
  padding: 15px 0px;
}

#home-button{
  grid-area: a;
}

#page-title{
  grid-area: b;
  width: 100%;
}

#user-button{
  grid-area: c;
